/*#2f6690
#3A7CA5
#D9DCD6
#16425B
#82A6B1*/

* {
  box-sizing: border-box;
  color: #16425B;
  font-family: 'Wire One', sans-serif;
}

html, body {
   height: 100%;
}


body {
    background-image: url('images/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

li {
  display: flex;
  float: left;
  padding: 10px;
  border: solid 1px;
  /*flex-grow: 1;*/
  margin: auto;
  align-items: center;
  align-self: center;
}

li:hover {
  display: flex;
  flex-grow: 2;
  text-align: center;
  align-self: flex-start;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: rgba(0, 0, 0, 0.2);
  margin: 0;
}

a {
  font-weight: bold;
  font-size: 57.5px;
}

h1 {
  margin: 50px;
  text-align: center;
  border-top: .5px solid #2F6690;
  border-bottom: .5px solid #2F6690;
  text-decoration: bold;
  font-size: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}
section {
  width: 70%;
  margin: auto;
  padding: 20px;
  font-size: 45px;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 1px;
  border-top: rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}


/*p {
  display: block;
}*/
/*
.nav-image {
  background-image: url('images/align-justify.svg');
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  position: fixed;
  top: 10;
  right: 10;
}
.home-image {
  background-image: url('images/home.svg');
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  position: fixed;
  top: 10;
  left: 10;
}

header {
  top: 0px;
}

footer {
  bottom: 0px;
}
header {
  text-align: right;
  padding-right: 10px;
}
header, footer {
  left: 0px;
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: #16425B;
}

nav ul, nav li, nav a {
  background-color: #16425B;
  display: block;
  list-style-type: none;
}


h1 {
  display: block;
  color: #16425B;
  text-align: center;
  padding: 5px;
}

main {
   margin-top: 90px;
   margin-bottom: 90px;
   padding: 10px;
   color: black;
   font: 10px/13px 'Lucida Sans',sans-serif;
}
.wrap {
   overflow: hidden;
   margin: 0;
   padding: 30px;
}
.box {
   float: left;
   position: relative;
   width: 33.33%;
   padding-bottom: 33.33%;
}
.boxInner {
   position: absolute;
   left: 10px;
   right: 10px;
   top: 10px;
   bottom: 10px;
   overflow: hidden;
}
.boxInner img {
   width: 25%;
   height: 25%;
}
.boxInner .titleBox {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   background: #000;
   background: rgba(0, 0, 0, 0.5);
   color: black;
   padding: 10px;
   text-align: center;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}
body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
   margin-bottom: 0;
}
@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
/*   .box {
      width: 100%;
      padding-bottom: 100%;
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   /*.box {
      width: 50%;
      padding-bottom: 50%;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
  /* .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
  /* .box {
      width: 25%;
      padding-bottom: 25%;
   }
}

footer p {
  display: block;
  text-align: center;
  padding: 10px;
}*/
